html,
body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #363940;
	font-family: 'Roboto', sans-serif;
}

#root {
	height: 100%;
}

h1 {
	color: #ffffff;
}

.app {
	width: 100%;
	height: 100%;
	position: relative;
}

.auth {
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 4px;

	min-width: 400px;
	min-height: 300px;
}

input,
textarea {
	font-family: 'PT Sans', sans-serif;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	width: 100%;

	font-size: 0.9375rem;
	font-weight: 400;
	letter-spacing: -0.025rem;
	line-height: 1.25rem;

	height: 40px;
	padding: 10px 15px;
	resize: none;

	background-color: #474c51;
	color: hsla(0, 0%, 100%, 0.7);
}

.newMessage {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	background-color: #363940;
	border-top: 1px solid #474c51;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.newMessage-input {
	width: 100%;
}

.newMessage-button {
	-webkit-tap-highlight-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	position: absolute;
	right: 15px;
	z-index: 1;
}

.newMessage-button:active {
	color: rgba(255, 255, 255, 1);
}

.newMessage-button svg {
	position: relative;
	left: 2px;
	width: 20px;
	height: 20px;
}

.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: #363940;
	border-bottom: 1px solid #474c51;
	padding: 15px;
	height: 65px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolbar-logo {
	font-family: 'Lobster', cursive;
	color: orange;
	font-size: 1.5em;
	transition: color 0.2s;
}

.toolbar-logout {
	display: flex;
	align-items: center;

	color: rgba(255, 255, 255, 0.5);
	transition: color 0.15s;
	cursor: pointer;
}

.toolbar-logout span {
	margin-right: 10px;
	opacity: 0;
	transition: opacity 0.15s;
}

.toolbar-logout:hover {
	color: #ffffff;
}

.toolbar-logout:hover span {
	opacity: 1;
}
